@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #EEEAE3;
  margin-block: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #DDD6CE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quattrocento", serif;
  outline: none;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  -webkit-tap-highlight-color: transparent; /* remove tap highlight */
}

body:focus {
  outline: none; /* remove outline */
  box-shadow: none; /* remove box shadow */
}

hr {
  margin-bottom: 2px solid black;
}

.hamburger-menu {
  scroll-snap-align: center;
  scroll-snap-stop: normal;
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B0A99F;
  z-index: 1;
  transition: 0.5s;
}
.hamburger-menu button {
  cursor: pointer;
  position: absolute;
  border: transparent;
  outline: none;
  background-color: transparent;
  top: 0;
  right: 0;
  padding: 20px 20px;
}
.hamburger-menu button img {
  height: 25px;
  width: 25px;
}
.hamburger-menu .links {
  padding: 30px;
}
.hamburger-menu .links a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
}
.hamburger-menu .links a h1 {
  font-family: "Italiana", serif;
}

.closed {
  left: 100%;
  opacity: 0;
}

.container {
  scroll-snap-align: center;
  scroll-snap-stop: normal;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEAE3;
}
.container h1 {
  font-family: "Italiana", serif;
}

nav {
  position: fixed;
  width: 100%;
  height: 10vh;
  display: grid;
  align-items: center;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(2rpx);
          backdrop-filter: blur(2rpx);
  grid-template-columns: 180px auto 180px;
  transition: 0.5s;
}
nav .brand {
  padding: 5px 25px;
}
nav .brand img {
  height: 50px;
  width: 220px;
}
nav .nav-container .links {
  padding: 25px;
}
nav .nav-container .links a {
  padding: 5px 10px;
}
nav .social-media {
  padding: 20px;
  display: flex;
  justify-content: center;
}
nav .social-media a {
  padding: 7px;
}
nav .social-media a img {
  height: 30px;
  width: 30px;
}
nav .menu {
  cursor: pointer;
}
nav .menu img {
  height: 30px;
  width: 30px;
}
nav a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.home .slogan .name {
  font-size: 9rem;
}
.home .slogan .slogan-end h1 {
  margin-bottom: 15px;
}
.home .slogan .slogan-end a {
  text-decoration: none;
  background-color: #B0A99F;
  color: WHITE;
  border: 1px solid #B0A99F;
  padding: 6px 16px;
  margin: 5px;
}

.about .items {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about .items .description {
  width: 65%;
}
.about .items .description h1 {
  font-size: 4rem;
}
.about .items .description p {
  font-size: 18px;
  letter-spacing: 1px;
}
.about .items .technologies {
  width: 30%;
}
.about .items .technologies h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.about .items .technologies p {
  font-size: 18px;
  letter-spacing: 1px;
}

.contact .items {
  height: 65%;
  width: 80%;
}
.contact .items h1 {
  font-size: 6rem;
  margin-bottom: 45px;
}
.contact .items .contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact .items .contact-info .form {
  width: 45%;
}
.contact .items .contact-info .form p label {
  font-size: 1.5rem;
}
.contact .items .contact-info .form p input {
  padding: 5px 5px;
  padding-top: 12px;
  font-size: 2rem;
  background-color: transparent;
  width: 85%;
  border: transparent;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
  outline: none;
}
.contact .items .contact-info .form p textarea {
  font-size: 1.6rem;
  background-color: transparent;
  width: 95%;
  border: transparent;
  border-bottom: 1px solid black;
  padding: 5px 5px;
  margin-bottom: 25px;
  outline: none;
}
.contact .items .contact-info .form button {
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  padding: 3px 12px;
  background-color: #B0A99F;
  color: white;
  border: 1px solid #B0A99F;
  padding: 6px 16px;
  margin: 5px;
}
.contact .items .contact-info .info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .items .contact-info .info p {
  font-size: 1.5rem;
  margin: 12px;
}
.contact .items .contact-info .info p a {
  color: black;
}
.contact .items .contact-info .info p span {
  font-size: 2rem;
}

.footer {
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DDD6CE;
}
.footer .contents {
  height: 80%;
  width: 80%;
}
.footer .contents .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .contents .top .items {
  display: flex;
  flex-direction: row;
}
.footer .contents .top .items .item {
  margin: 0 25px;
}
.footer .contents .top .items .item h2 {
  padding-bottom: 5px;
}
.footer .contents .top .items .item p {
  padding: 6px 0;
}
.footer .contents .top .items .item p a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.footer .contents hr {
  border: none;
  height: 0.3px;
  color: black;
  background-color: black;
}
.footer .contents .bottom .items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .contents .bottom .items p {
  font-size: 16px;
}
.footer .contents .bottom .items span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .contents .bottom .items span img {
  height: 18px;
  margin: 0 3px;
}

@media screen and (min-width: 1201px) {
  nav .menu {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  nav {
    grid-template-columns: 280px 50px;
  }
  nav .nav-container {
    display: none;
  }
  nav .social-media {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  nav {
    grid-template-columns: 280px 50px;
  }
  nav .brand {
    padding: 5px 25px;
  }
  nav .brand img {
    height: 40px;
    width: 160px;
  }
  .home .slogan {
    width: 85%;
  }
  .about .items {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .about .items .description {
    padding-bottom: 35px;
    width: initial;
  }
  .about .items .description h1 {
    font-size: 4rem;
  }
  .about .items .description p {
    font-size: 18px;
  }
  .about .items .technologies {
    width: initial;
  }
  .about .items .technologies h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }
  .about .items .technologies span {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .about .items .technologies span p {
    text-align: center;
    padding: 5px;
  }
}
@media screen and (max-width: 850px) {
  .home .slogan {
    width: 90%;
  }
  .home .slogan .name {
    font-size: 6rem;
  }
  .home .slogan .slogan-end h1 {
    font-size: 2rem;
  }
  .contact .items {
    width: 90%;
  }
  .contact .items h1 {
    font-size: 4rem;
  }
  .contact .items .contact-info .form p label {
    font-size: 18px;
  }
  .contact .items .contact-info .form p input {
    font-size: 16px;
  }
  .contact .items .contact-info .form p textarea {
    font-size: 16px;
    padding: 10px 5px;
  }
  .contact .items .contact-info .form button {
    font-size: 16px;
  }
  .contact .items .contact-info .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact .items .contact-info .info p {
    font-size: 18px;
    margin: 12px;
  }
  .contact .items .contact-info .info p a {
    color: black;
  }
  .contact .items .contact-info .info p span {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  nav {
    width: 100vw;
    grid-template-columns: 80px 48px;
  }
  nav .brand {
    padding: 5px 25px;
  }
  nav .brand img {
    height: 30px;
    width: 150px;
  }
  .home .slogan {
    width: 95%;
  }
  .home .slogan .name {
    font-size: 4rem;
  }
  .home .slogan .slogan-end h1 {
    font-size: 18px;
  }
  .about .items .description {
    padding-bottom: 35px;
    width: initial;
  }
  .about .items .description h1 {
    font-size: 2rem;
  }
  .about .items .description p {
    font-size: 14px;
  }
  .about .items .technologies {
    width: initial;
  }
  .about .items .technologies h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .about .items .technologies span {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .about .items .technologies span p {
    font-size: 16px;
    text-align: center;
    padding: 5px;
  }
  .contact .items h1 {
    font-size: 2.5rem;
    margin-bottom: 25px;
  }
  .contact .items .contact-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .items .contact-info .form {
    width: 80%;
    margin-bottom: 25px;
  }
  .contact .items .contact-info .form p label {
    font-size: 16px;
  }
  .contact .items .contact-info .form p input {
    padding-top: 5px;
    font-size: 12pxs;
    width: 80%;
    margin-bottom: 5px;
  }
  .contact .items .contact-info .form p textarea {
    font-size: 12px;
    width: 90%;
    margin-bottom: 5px;
  }
  .contact .items .contact-info .form button {
    font-size: 16px;
  }
  .contact .items .contact-info .info {
    width: 80%;
    display: block;
    margin-bottom: 25px;
  }
  .contact .items .contact-info .info p {
    font-size: 14px;
    margin: 12px;
  }
  .contact .items .contact-info .info p a {
    color: black;
  }
  .contact .items .contact-info .info p span {
    font-size: 16px;
  }
  .footer {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDD6CE;
  }
  .footer .contents {
    height: 100%;
    width: 90%;
  }
  .footer .contents .top {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .contents .top h1 {
    font-size: 18px;
  }
  .footer .contents .top .items {
    display: flex;
    flex-direction: row;
  }
  .footer .contents .top .items .item {
    margin: 0 25px;
  }
  .footer .contents .top .items .item h2 {
    font-size: 16px;
    padding-bottom: 5px;
  }
  .footer .contents .top .items .item p {
    padding: 6px 0;
  }
  .footer .contents .top .items .item p a {
    font-size: 12px;
  }
  .footer .contents .bottom .items p {
    font-size: 14px;
  }
  .footer .contents .bottom .items span img {
    height: 12px;
    margin: 0 3px;
  }
}/*# sourceMappingURL=App.css.map */